<script src="/static/js/theme.js"></script>
<script src="/static/js/core.js"></script>
<script src="/static/js/account-switcher.js"></script>
<script src="/static/js/feed.js"></script>
<script src="/static/js/profile-own.js"></script>
<script src="/static/js/profile-user.js"></script>
<script src="/static/js/highlights.js"></script>
<script src="/static/js/compose.js"></script>
<script src="/static/js/comment-actions.js"></script>
<script src="/static/js/comments.js"></script>
<script src="/static/js/side-nav.js"></script>
<script src="/static/js/chat.js"></script>
<script src="/static/js/app.js"></script>

</body></html>
