{% include "_preamble.html" %}
{% include "partials/login.html" %}

{% include "partials/signup.html" %}

{% include "partials/profile_own.html" %}

{% include "partials/profile_edit.html" %}

{% include "partials/profile_user.html" %}

{% include "partials/feed.html" %}

{% include "partials/post_create.html" %}

{% include "partials/businesses.html" %}

{% include "partials/courses.html" %}

{% include "partials/gpa_calculator.html" %}

{% include "partials/chat.html" %}

{% include "partials/comment_overlay.html" %}

{% include "partials/post_menu_sheet.html" %}

{% include "partials/comment_menu_sheet.html" %}

{% include "partials/delete_comment_dialog.html" %}

{% include "partials/side_nav.html" %}

{% include "_trailer.html" %}
